<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Coffee House Chat</title>
<link rel="stylesheet" href="../static/css/chat.css" th:href="@{/css/chat.css}" />
<meta charset="utf8"/>
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
Remove this if you use the .htaccess -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" type="text/css"/>
</head>
<body ng-app="chatApp">
	<div class="container">
		<noscript>
			<h2 style="color: #ff0000">
				Seems your browser doesn't support Javascript!<br /> Websocket
				relies on Javascript being enabled. Please enable Javascript and
				reload this page!
			</h2>
		</noscript>
		<header>
			<h1>Welcome to the Chatroom!</h1>
		</header>

		<nav class="site-nav">
			<ul>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/chat}">Chatroom</a></li>
				<!--   <li><a th:href="">Lobbies</a></li>
                    <li><a th:href="">Settings</a></li>-->
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin</a></li>
			</ul>
			<form th:action="@{/logout}" method="post">
				<input id="logout-btn" type="submit" value="Log Out" />
			</form>
		</nav>

		<section id="chat-box-outer" ng-controller="ChatCtrl">
      <form ng-submit="addMessage()" name="messageForm">
        <input type="text" placeholder="Compose a new message..." ng-model="message" />
        <div class="info">
          <span class="count" ng-bind="max - message.length" ng-class="{danger: message.length > max}">140</span>
          <button ng-disabled="message.length > max || message.length === 0">Send</button>
        </div>
      </form>
      <hr />
      <p ng-repeat="message in messages | orderBy:'time':true" class="message">
        <time>{{message.time | date:'HH:mm'}}</time>
        <span ng-class="{self: message.self}">{{message.message}}</span>
      </p>
		</section>
		<footer class="clear">Coffee House &copy; FALL 2016</footer>
	</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../static/js/app/app.js" th:src="@{/js/app/app.js}"></script>
<script src="../static/js/app/controllers.js" th:src="@{/js/app/controllers.js}"></script>
<script src="../static/js/app/services.js" th:src="@{/js/app/services.js}"></script>
</body>
</html>