<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Coffee House - Register</title>
<meta name="description"
	content="The registration page for Coffee House" />
<meta name="revised" content="Coffee House, 11/15/16" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="../static/css/register.css" th:href="@{/css/register.css}"/>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />

</head>
<body>
	<div class="container">
		<h2>Create an Account</h2>
		<hr id="horiz-line" />
		<form id="registrationForm" method="post" th:action="@{/register}" th:object="${user}">
			<div id="register">
				<p>
					<label>Enter your Username</label><br /> 
					<input id="username" th:field="*{username}"
						class="fontAwesome fixed-width" type="text" maxlength="30"
						placeholder="&#xf007;" />
				</p>
				<p>
					<label>Enter your Email</label><br /> 
					<input id="email" th:field="*{email}"
						class="fontAwesome fixed-width" type="email" maxlength="50"
						placeholder="&#xf0e0;" />
				</p>
				<p>
					<label>Enter your Password</label><br /> 
					<input id="password" th:field="*{password}"
						class="fontAwesome fixed-width" type="password" maxlength="20"
						placeholder="&#xf023;" />
				</p>
				<div id="caps" style="display: none; color: red">Warning: Caps
					Lock is on!</div>

				<p>
					<label>Confirm your Password</label><br /> <input
						id="confirm-password"
						class="fontAwesome fixed-width" type="password" maxlength="20"
						placeholder="&#xf023;" />
				</p>
				<p>
					<input id="submit-btn" type="submit" value="CREATE" />
				</p>
			</div>
		</form>
		<p>
			Already a User?<br /> <a th:href="@{/login}">Back to Login</a>
		</p>
	</div>
	<script src="caps-lock.js"></script>
	<script>
            function checkCapsWarning() {
                document.getElementById('caps').style.display = capsLockEnabled ? 'block' : 'none';
            }

            function removeCapsWarning() {
                document.getElementById('caps').style.display = 'none';
            }
        </script>
	<!--  <script>
//Form validation code will come here.
var username = document.getElementById('username');

input.onblur = 

/* document.querySelector('#register').onclick = function()
{
alert('Ouch! Stop poking me!');
}*/
</script> -->
</body>
</html>